body {
  margin: 0;
}

* {
  margin: 0;
  outline: unset;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  &.development {
    background-image: url("https://cdn.discordapp.com/attachments/1286134080131563552/1288955994269024356/image.png?ex=66f90b90&is=66f7ba10&hm=4893772a5f5a275b189803e3857ca965919a5892b7c50686b3bcea5e2768248c&");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.hidden {
    display: none;
  }
}