body {
  margin: 0;
}

* {
  margin: 0;
  outline: unset;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  &.development {
    background-image: url("https://media.discordapp.net/attachments/680494832518823991/1288628050325540935/image.png?ex=66f5dfe4&is=66f48e64&hm=65fa7191c5e8c1407f90aca2c7239fc4fb2b38423661e25e2d08a9f33d8bef49&=&format=webp&quality=lossless&width=1610&height=905");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.hidden {
    display: none;
  }
}