body {
  margin: 0;
}

* {
  margin: 0;
  outline: unset;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body {
  overflow: hidden;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  &.development {
    background-image: url("images/dev/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.hidden {
    display: none;
  }
}